<header class="navbar">
  <button
    class="navbar__menu-btn"
    type="button"
    aria-label="Toggle navigation menu"
    (click)="onMenuToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar__brand" routerLink="/dashboard" aria-label="Go to dashboard">
    <mat-icon class="navbar__brand-icon">checklist</mat-icon>
    <span class="navbar__brand-text">TaskFlow</span>
  </a>
  <a
  class="navbar__quick-add"
  routerLink="/todos/add"
  aria-label="Add new todo">
  <mat-icon>add</mat-icon>
  <span class="navbar__quick-add-text">New Todo</span>
  </a>
  <button
    class="navbar__user"
    type="button"
    [matMenuTriggerFor]="userMenu"
    aria-label="Account menu">
    <span class="navbar__user-avatar">{{ (authService.currentUser?.username || '?').charAt(0).toUpperCase() }}</span>
    <span class="navbar__user-name">{{ authService.currentUser?.username }}</span>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</header>
